# Lab | Inferential statistics - ANOVA

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

In [1]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [2]:
df = pd.read_excel('anova_lab_data.xlsx')
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [3]:
df.columns = [column.lower().replace(' ', '_') for column in df.columns]

In [4]:
df

   power_  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [5]:
df.rename(columns={'power_':'power'}, inplace=True)

In [6]:
df.columns

Index(['power', 'etching_rate'], dtype='object')

In [7]:
df['power'].value_counts()

160 W    5
180 W    5
200 W    5
Name: power, dtype: int64

In [8]:
df.groupby('power').agg(np.mean)

       etching_rate
power
160 W         5.792
180 W         6.238
200 W         8.318

- State the null hypothesis

H0 : All the mean etching rates are the same.

- State the alternate hypothesis

Ha : Atleast one of the mean etching rate is different than the others.

- What is the significance level

alpha = 0.05

- What are the degrees of freedom of model, error terms, and total DoF

Degrees of freedom : 3 (Number of groups) - 1 = 2

The error degrees of freedom : 14 (Number of observations) - 3 (Number of groups) = 11

Total degrees of freedom : 14 (Number of observations) - 1 = 13

## Part 2

- In this section, use Python to conduct ANOVA.

In [9]:
model = ols('etching_rate ~ C(power)', data=df).fit()

In [10]:
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

- What conclusions can you draw from the experiment and why?

P-value is less than alpha therefore we reject null hypotesis.